{% extends "base_usuario.html" %}

{% block body %}

  <form class="form-signin" action="{% url 'registrar' %}" method="post">

    {% csrf_token %}

    <h2 class="form-signin-heading">Crie seu usuário</h2>

    <input type="text" id="id_email" name="email" class="form-control"
            placeholder="Email *" value="{{form.email.value}}" required autofocus>

    <input type="text" id="id_nome" name="nome" class="form-control"
            placeholder="Nome *" required >

    <input type="password" id="id_senha" name="senha" class="form-control"
            placeholder="Senha *" required>

    <input type="text" id="id_telefone" name="telefone" class="form-control"
            placeholder="Telefone">

    <input type="text" id="id_empresa" name="empresa" class="form-control"
            placeholder="Empresa">

    <input type="text" id="id_saldo" name="saldo" class="form-control"
            placeholder="Saldo">

    <hr />

    {% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        {{form.non_field_errors}}
      </div>
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Registrar</button>

  </form>

{% endblock %}
